body {
  margin:0;
  font-family:Arial;
  background:black;
  color:white;
}

.screen {
  display:none;
  height:100vh;
  padding:20px;
}

.active {
  display:block;
}

.logo {
  font-size:42px;
  color:red;
  text-align:center;
}

button {
  width:100%;
  padding:14px;
  margin:10px 0;
  background:red;
  border:none;
  color:white;
  font-size:16px;
  border-radius:6px;
}

input {
  width:100%;
  padding:14px;
  margin:10px 0;
  background:#111;
  border:1px solid red;
  color:white;
  border-radius:6px;
  font-size:16px;
}

.header {
  background:red;
  color:black;
  padding:12px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-weight:bold;
}
