body{
  background:#000;
  color:#fff;
  font-family:Arial;
  text-align:center;
}

/* SCREENS */
.screen{
  display:none;
  padding:20px;
}

.screen.active{
  display:block;
}

/* TITLE */
.title{
  font-size:50px;
  color:red;
  margin:20px 0;
}

/* BUTTONS */
button{
  width:80%;
  max-width:300px;
  padding:15px;
  margin:10px;
  background:red;
  color:#fff;
  border:none;
  border-radius:10px;
  font-size:18px;
}

/* INPUTS */
input{
  width:80%;
  max-width:300px;
  padding:12px;
  margin:10px;
  border-radius:8px;
  border:1px solid red;
  background:#111;
  color:#fff;
}

/* TOP BAR */
.topbar{
  background:red;
  padding:15px;
  display:flex;
  justify-content:space-between;
}
